[EDMahjongBackground]
Name=Scenic bamboo
Name[de]=Scenic bamboo
VersionFormat=1
Author=CC0 Textures
AuthorEmail=
FileName=scenic_bamboo_china.png
Link=https://commons.wikimedia.org/wiki/File:Scenic_(China),_1775%E2%80%9399_(CH_18400599).jpg